{% extends 'base.html' %}
{% block content %}
<div id="home">
<h1>ＬＩＦＴＥＤ</h1>
<br>
<h2>Your House can be Our Home</h2>
<br>
<p>Being hardworking and underpaid most of our lives, we have finally had enough.</p>
<p>We decided to start take from the furtunate, and wanted to show the world, but it was not that easy.</p>
<p>ＬＩＦＴＥＤ was created to impress the world with what we achieved.</p>
<p>We did not want to be the only ones with this kind of access, so ＬＩＦＴＥＤ is now open to everyone with this passion.</p>
<br>
<p>Steal. Post. Done.</p>
<br>
<h1>ＬＩＦＴＥＤ</h1>
</div>
{% endblock %}