a {
    color: black;
}

body {
    text-align: left;
    margin-left: revert-layer;
}

img {
    border-radius: 10%;
}

#nav {
    font-weight:600;
}

body {
    background-image: url(https://img.freepik.com/free-vector/white-technology-background_23-2148390329.jpg?w=1800&t=st=1699743547~exp=1699744147~hmac=9128fc85640e1bd97b99b401a1d53d4b0c2771aa51df9de59a4f7b076b32c997);
    background-size: cover;
    height: 100vh;
    font-family:monospace;
}

#id_description,
#id_username,
#id_password, 
#id_password1, 
#id_password2,
#id_content {
    border: 2px solid;
    border-radius: 10px;
}

#home {
    text-align: center;
}
