{% extends 'base.html' %}
{% block content %}

<h1>Your Posts</h1>


    <img src="{{ post.url }}" alt="{{ post.description }}">
    <p>Description: {{ post.description }}</p>


<form action="{% url 'post_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="photo-file">Upload Photo:</label>
    <input type="file" name="photo-file" required>
    <br>
    <label for="description">Description:</label>
    <textarea name="description" required></textarea>
    <br>
    <button type="submit" class="btn">Upload Photo</button>
</form>

{% endblock %}
