{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Cat</h1>
{% endif %}
<br>
<br>
<div class="row">
    <div class="my-card">
        <div class="card">
            {% for post in your_posts %}
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'detail' post.id %}">
                    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <p>{{ post.description }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>  
</div>

{% endblock %}